[GLOBAL]
pants_version = "2.14.0rc1"
backend_packages = [
  "pants.backend.shell",
  "pants.backend.shell.lint.shfmt",
  "pants.backend.shell.lint.shellcheck",
  "pants.backend.build_files.fmt.black",
  "pants.backend.docker",
  "pants.backend.docker.lint.hadolint",
  "pants.backend.python",
  "pants.backend.python.lint.docformatter",
  "pants.backend.python.lint.isort",
  "pants.backend.python.lint.black",
  "pants.backend.python.lint.flake8",
  "pants.backend.python.lint.pylint",
  "pants.backend.python.typecheck.mypy",
]

[anonymous-telemetry]
enabled = false

[python]
# This will become the default in Pants 2.15.
tailor_pex_binary_targets = false
enable_resolves = true

[python.resolves]
python-default = "lockfile.txt" 

[python-repos]
indexes=[
  "https://artcsp-user:AKCp8hzXhoMjiyojWKJJZtneNZ8GTjayuPTnGGNBAoPrgLTnesmmMEDU5zyAFm9ZGKXMN3HoE@ara-artifactory.volvocars.biz/artifactory/api/pypi/PYPI/simple",
]

[source]
root_patterns = [
  '/',
  'src',
  'tests',
]
